h2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: calc(25% - 1px);
    padding: 0 3rem 0 1rem;

    overflow: visible;
}

h2 .button {
    width: 2rem; height: 2rem;
}

.messagerie {
    display: flex;
    height: max-content;

    overflow: visible;

    background-color: transparent;
}

.messagerie__destinataires {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
    width: 25%; max-height: calc(100vh - 13rem);
    padding: 1rem 3rem 1rem 1rem;
    overflow-x: visible;
    overflow-y: scroll;
    
    border-right: 1px solid var(--color);
}

.messagerie__form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.messagerie__form input {
    width: 100%; min-height: 2.5rem;
    padding: .5rem 1rem;

    text-align: left;
}

.messagerie__form:last-of-type {
    flex-direction: row;
    column-gap: .5rem;
}

.messagerie__form:last-of-type input[type="submit"] {
    width: unset;
}

.messagerie__form:last-of-type input[type="text"] {
    width: 100%;
}


.messagerie__conversation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;

    width: 75%; height: calc(100vh - 13rem);
}

.messagerie__conversation .messagerie__conversation__messages {
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    max-height: calc(100vh - 15rem);
    padding: .5rem 1rem;

    overflow: visible;
}

.messagerie__conversation .messagerie__conversation__messages .left, .right {
    position: relative;

    display: flex;
    align-items: center;

    width: max-content;
    max-width: 50%; min-height: 2.5rem;
    padding: .5rem 1rem;
    
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow);
    border-radius: .75rem;

    transition: 100ms all ease-out;
    overflow: visible;
}

.messagerie__conversation .messagerie__conversation__messages .right {
    align-self: flex-end;
}

span:first-of-type {
    position: absolute;
    font-size: .75rem;
    padding: 0;

    opacity: .5;
}

.left span:first-of-type {
    transform: translateY(-50%);
    left: calc(100% + 1rem); top: 50%;
}

.right span:first-of-type {
    transform: translate(-100%, -50%);
    left: -1rem; top: 50%;
}

span:not(:first-of-type) {
    position: absolute;
    display: none; /* activer depuis js (options__active)*/
    column-gap: .5rem;

    transform: translate(-50%, -100%);
    top: -.5rem; left: 50%;
    overflow: visible;
}

span:not(:first-of-type) a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 30px; height: 30px;
    
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

/* padding sous le panneau attention pour centrage visuel*/
span:not(:first-of-type) a.signaler {
    padding-bottom: .25rem;
}


.messagerie__conversation .messagerie__conversation__messages >:last-child {
    margin-bottom: 5rem;
}

.messagerie__conversation__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    
    padding: 0 1rem 0 2rem;
    
    overflow: visible;
}

.messagerie__conversation__form input {
    padding: .5rem 1rem;
}

.messagerie__conversation__form input[type="text"] {
    width: 100%;
    text-align: left;
}

.messagerie__conversation__form div {
    display: flex;
    column-gap: .5rem;

    overflow: visible;
}

.messagerie__conversation__form input[type="submit"] {
    width: 7.5rem;
}

.messagerie__conversation__form .bloquer, .messagerie__conversation__form abbr {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;

    border-radius: 50%;
}

/* OPTIONS ACTIVE */

.options__active {
    transform: scale(1.05);
}

.options__active span {
    display: flex;
}

.options__inactive {
    filter: blur(2px);
}

.utilisateur_bloque {
    filter: blur(10px);
}