table th {
    padding: .25em .5em;
}

table td {
    padding: 1px;
}

table a {
    cursor: pointer;
    text-decoration: underline;
}

table:last-of-type {
    margin-top: 1rem;
}

form #file {
    border: none;
    border-bottom: 1px solid var(--color);
    border-radius: 0;
}

form input[type="submit"]:first-of-type {
    margin-top: 1rem;
}

label {
    font-size: smaller;
}

.recherche {
    display: flex;
    column-gap: .5rem;

    overflow: visible;
}

.recherche input[type="email"] {
    min-width: 15%;
}