html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    padding: 2em 3em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em 0;

    box-shadow: var(--box-shadow);
    border-radius: 1em;
}

article h2 {
    margin: 0;
}

article form {
    display: flex;
    flex-direction: column;
    gap: 1em 0;

    padding: .25em;
}

article form .button {
    width: min-content; height: min-content;
    padding: .25em 1em;
}

article p {
    margin: 0;
    font-size: .75em;
}

article p a {
    text-decoration: underline;
}