:root {
    --color: black;
    --background: white;
    --box-shadow: 0 0 .5em 0 rgba(0, 0, 0, .25);
}

html, body {
    width: 100vw; min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    color: var(--color);
    text-decoration: none;
}